@inherits LayoutComponentBase

@using BlazorCrud.Client.Extensiones;
@using Microsoft.AspNetCore.Components.Authorization;
@inject AuthenticationStateProvider autenticacionProvider
@inject NavigationManager navManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject ITareaService tareaService
@inject IRecursoService recursoService
 @inject IProyectoService proyectoService

@using Microsoft.AspNetCore.Authorization;
@using BlazorCrud.Client.Services;
@using BlazorCrud.Shared;
@using System.Security.Claims


 
@attribute [Authorize]

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 d-flex align-items-center justify-content-end">
            <div class="top-row px-4 d-flex align-items-center justify-content-end">
                <!-- Icono de Notificaciones -->
                <div class="dropdown">
                    <button class="btn btn-light dropdown-toggle position-relative" type="button" id="notificacionesMenu" data-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-bell"></i>  
                     
                        @if (tareasAsignadas.Count + recursosAsignados.Count + proyectosAsignados.Count > 0)
                        {
                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                @((tareasAsignadas.Count + recursosAsignados.Count + proyectosAsignados.Count))  
                            </span>
                        }
                    </button>
                    <!-- Menú de notificaciones -->
                    <div class="dropdown-menu p-3 dropdown-menu-start" aria-labelledby="notificacionesMenu" style="width: 350px; border-radius: 10px;">
                         
                        <h6 class="dropdown-header text-primary">Notificaciones</h6>

                        <!-- Tareas  Asignadas -->
                        @if (tareasAsignadas.Count > 0)
                        {
                            <h6 class="dropdown-header text-info">Tareas Asignadas</h6>
                            @foreach (var tarea in tareasAsignadas)
                            {
                                <span class="dropdown-item d-flex justify-content-between align-items-center text-truncate" href="#" style="max-width: 300px; font-size: 0.85rem;">
                                    <span class="text-truncate" style="max-width: 200px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">@tarea.Nombre</span>
                                    <span class="badge bg-warning rounded-pill" style="font-size: 0.8rem;">Nuevo</span>
                                </span>
                            }
                        }
                        else
                        {
                            <span class="dropdown-item-text text-muted">No tienes tareas asignadas</span>
                        }

                        <!-- Recursos Asignados -->
                        @if (recursosAsignados.Count > 0)
                        {
                            <h6 class="dropdown-header text-info">Recursos Asignados</h6>
                            @foreach (var recurso in recursosAsignados)
                            {
                                <span class="dropdown-item d-flex justify-content-between align-items-center text-truncate" href="#" style="max-width: 300px; font-size: 0.85rem;">
                                    <span class="text-truncate" style="max-width: 200px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">@recurso.Nombre - @recurso.Tipo</span>
                                    <span class="badge bg-warning rounded-pill" style="font-size: 0.8rem;">Nuevo</span>
                                </span>
                            }
                        }
                        else
                        {
                            <span class="dropdown-item-text text-muted">No tienes recursos asignados</span>
                        }

                        <!-- Notificaciones de Proyectos-->
                        @if (proyectosAsignados.Count > 0)
                        {
                            <h6 class="dropdown-header text-info">Proyectos a Cargo</h6>
                            @foreach (var proyecto in proyectosAsignados)
                            {
                                <span class="dropdown-item d-flex justify-content-between align-items-center text-truncate" href="#" style="max-width: 300px; font-size: 0.85rem;">
                                    <span class="text-truncate" style="max-width: 200px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">@proyecto.Nombre</span>
                                    <span class="badge bg-warning rounded-pill" style="font-size: 0.8rem;">Nuevo</span>
                                </span>
                            }
                        }
                        else
                        {
                            <span class="dropdown-item-text text-muted">No tienes proyectos de recursos asignados</span>
                        }
                    </div>
                </div>
            </div>

            <!-- Icono de Mensajes -->
            <div class="dropdown ms-3">
                <button class="btn btn-light dropdown-toggle" type="button" id="mensajesMenu" data-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-envelope"></i>  
                </button>
                <div class="dropdown-menu" aria-labelledby="mensajesMenu">
                    <span class="dropdown-item-text">Mensaje de Dante Toribio</span>
                    <span class="dropdown-item-text">Consulta de Fabrizio Jurado</span>
                    <span class="dropdown-item-text">Aviso de Joan Pérez</span>
                </div>
            </div>

            <AuthorizeView>
                <Authorized>
                    <!-- Icono de Usuario -->
                    <div class="dropdown ms-3">
                        <button class="btn btn-light dropdown-toggle d-flex align-items-center" type="button" id="usuarioMenu" data-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-user me-2"></i> 
                            <span>@context.User.Identity!.Name</span> 
                        </button>
                        <div class="dropdown-menu" aria-labelledby="usuarioMenu">
                    <li><button class="dropdown-item" href="/configuracion"><i class="fas fa-cogs me-2"></i>Configuración</button></li>
                    <li><button class="dropdown-item" @onclick="CerrarSesion"><i class="fas fa-sign-out-alt me-2"></i>Cerrar Sesión</button></li>
        </div>
</div>
                </Authorized>
            </AuthorizeView>

        </div>

<article class="content px-4">
            @Body
</article>
    </main>
</div>

@code{
    private List<TareaDTO> tareasAsignadas = new List<TareaDTO>();
    private List<RecursoDTO> recursosAsignados = new List<RecursoDTO>();
    private List<ProyectoDTO> proyectosAsignados = new List<ProyectoDTO>();  

    protected override async Task OnInitializedAsync()
    {
        var estadoAutenticacion = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var usuarioId = estadoAutenticacion.User.FindFirst(ClaimTypes.NameIdentifier)?.Value;

        if (int.TryParse(usuarioId, out int usuarioIdInt))
        {
            tareasAsignadas = await tareaService.ObtenerTareasPorUsuario(usuarioIdInt);
            recursosAsignados = await recursoService.ObtenerRecursosPorUsuario(usuarioIdInt);
            proyectosAsignados = await proyectoService.ObtenerProyectosAsignadosPorUsuario(usuarioIdInt); 
        }
    }



    private async Task CerrarSesion()
    {
        var autenticacionExt = (AutenticacionExtension)autenticacionProvider;
        await autenticacionExt.ActualizarEstadoAutenticacion(null);
        navManager.NavigateTo("/",true);
    }

}